<h1>hello this works</h1>

<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="exampleInputFile">File input</label>
        <input type="file" id="exampleInputFile">
        <p class="help-block">Example block-level help text here.</p>
    </div>
    <div class="checkbox">
        <label>
      <input type="checkbox"> Check me out
    </label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
<br>
<br>
<br>
<br>
<form>
    <div class="form-group has-danger">
        <label for="name">Name</label> <input aria-describedby="" class="form-control" id="" placeholder="Enter first and last name"
            type="num" required="required">
    </div>
    <div class="form-group has-danger">
        <label for="phone">Phone No</label> <input aria-describedby="" class="form-control" id="" placeholder="027...." type="phone"
            required>
    </div>
    <div class="form-group has-danger">
        <label for="name">Email</label> <input aria-describedby="" class="form-control" id="" placeholder="Enter your email"
            type="name"> <small class="form-text text-muted" id="emailHelp">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group has-danger">
        <label for="exampleSelect1">Years of experience</label> <select class="form-control" id="exampleSelect1">
  				<option>
  					0-5 years
  				</option>
  				<option>
  					5-10 years
  				</option>
  				<option>
  					10  years
  				</option>
  			</select>
    </div>
    <div class="form-group has-danger">
        <label for="exampleSelect1">Level of experience</label> <select class="form-control" id="exampleSelect1">
  				<option>
  					Communications student
  				</option>
  				<option>
  					Recent graduate
  				</option>
  				<option>
  					Communications assistant/junior advisor
  				</option>
  				<option>
  					Intermediate advisor
  				</option>
  				<option>
  					Senior advisor
  				</option>
  				<option>
  					Manager or director
  				</option>
  			</select>
    </div>
    <div class="">
        <label>Areas of expertise</label>
    </div>
    <div class="form-check">
        <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> Writing/editing</label>
        <div class="form-check">
            <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> Social media</label>
        </div>
        <div class="form-check">
            <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> Web strategy</label>
        </div>
        <div class="form-check">
            <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> Web usability</label>
        </div>
        <div class="form-check">
            <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> Web editing/writing</label>
        </div>
        <div class="form-check">
            <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> News media</label>
        </div>
        <div class="form-check">
            <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> Strategy</label>
        </div>
        <div class="form-check">
            <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> Coaching/mentoring/managing people</label>
        </div>
        <div class="form-check">
            <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> Planning</label>
        </div>
        <div class="form-check">
            <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> Campaigns</label>
        </div>
        <div class="form-check">
            <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> Social marketing</label>
        </div>
        <div class="form-check">
            <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> Event management</label>
        </div>
        <div class="form-check">
            <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> Internal communication</label>
        </div>
        <div class="form-check">
            <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> Graphic design</label>
        </div>
        <div class="form-check">
            <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> Visual storytelling</label>
        </div>
        <div class="form-check">
            <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> Branding</label>
        </div>
        <div class="form-check">
            <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> Fundraising</label>
        </div>
        <div class="form-check">
            <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> Sponsorship</label>
        </div>
        <div class="form-check">
            <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> Community development</label>
        </div>
        <div class="form-check">
            <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> Change communications</label>
        </div>
        <div class="form-check">
            <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> Accountability/reporting</label>
        </div>
        <div class="form-check">
            <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> Measurement</label>
        </div>
        <div class="form-check">
            <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> Issues management</label>
        </div>
        <div class="form-check">
            <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> Stakeholder engagement</label>
        </div>
        <div class="form-check">
            <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> Other </label>
            <input
                class="form-control" id="" placeholder="Please list in comment box" type="">
        </div>
    </div>
    <label>Areas you want to volunteer in? </label>
    <label>It is fine for you to want to volunteer to gain more experience in an area you’re less familiar with.</label>
    <div class="form-check">
        <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> Writing/editing</label>
        <div class="form-check">
            <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> Social media</label>
        </div>
        <div class="form-check">
            <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> Web strategy</label>
        </div>
        <div class="form-check">
            <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> Web usability</label>
        </div>
        <div class="form-check">
            <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> Web editing/writing</label>
        </div>
        <div class="form-check">
            <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> News media</label>
        </div>
        <div class="form-check">
            <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> Strategy</label>
        </div>
        <div class="form-check">
            <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> Coaching/mentoring/managing people</label>
        </div>
        <div class="form-check">
            <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> Planning</label>
        </div>
        <div class="form-check">
            <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> Campaigns</label>
        </div>
        <div class="form-check">
            <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> Social marketing</label>
        </div>
        <div class="form-check">
            <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> Event management</label>
        </div>
        <div class="form-check">
            <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> Internal communication</label>
        </div>
        <div class="form-check">
            <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> Graphic design</label>
        </div>
        <div class="form-check">
            <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> Visual storytelling</label>
        </div>
        <div class="form-check">
            <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> Branding</label>
        </div>
        <div class="form-check">
            <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> Fundraising</label>
        </div>
        <div class="form-check">
            <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> Sponsorship</label>
        </div>
        <div class="form-check">
            <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> Community development</label>
        </div>
        <div class="form-check">
            <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> Change communications</label>
        </div>
        <div class="form-check">
            <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> Accountability/reporting</label>
        </div>
        <div class="form-check">
            <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> Measurement</label>
        </div>
        <div class="form-check">
            <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> Issues management</label>
        </div>
        <div class="form-check">
            <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> Stakeholder engagement</label>
        </div>
        <div class="form-check">
            <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> Other </label>
            <input
                class="form-control" id="" placeholder="Please list in comment box" type="">
        </div>
    </div>

    <div class="form-group has-danger">
        <label for="exampleSelect1">Approximately what time do you have available for volunteering?</label>
        <label for="">We offer community organisations a boost – so our assignments are often either a few hours on an ongoing basis (eg mentoring) or more hours for a short period.</label>
        <select class="form-control" id="exampleSelect1">
  				<option>A few hours a week</option>
          <option>A few hours  a fortnight</option>
  <option>A few hours a month</option>
  <option>Able to put more hours in for a short period (eg for a project)</option>	Able to put more hours in for a short period (eg for a project)
  <option>Able to commit a significant number of hours on an ongoing basis (eg 10 hours a month or more ongoing)</option>
  <option>Ask me at the time
  </option>
  			</select>
    </div>
    <div class="form-group has-danger">
        <label for="exampleSelect1">What time of day would suit you to volunteer?</label>
        <select class="form-control" id="exampleSelect1">
  				<option>	Within working hours </option>
  <option>	Outside of work hours</option>
  <option>	During lunch-breaks</option>
  <option>	Flexible</option>
  
  			</select>
    </div>
    <!-- following questions are optional -->
    <div class="form-group">
        <label for="exampleTextarea">Are there any topic areas or charity types you want to volunteer in/for?</label>
        <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
    </div>
    <div class="form-group">
        <label for="exampleTextarea">Are there any you don’t want to volunteer in/for?</label>
        <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
    </div>
    <div class="form-group">
        <label for="exampleTextarea">Given neighbourhood charities sometimes request help, you are welcome to also tell us what suburb you live in</label>
        <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>

</form>