.container{
  width: 50%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
h1{
  color:#008080;
}
form input{
  background: #f7f7f7;
}
form textarea{
  background: #f7f7f7;
  resize: vertical;
}
form textarea:focus, input:focus{
  background: #ffffff;
}
button{
  margin: 10px 0 10px 0;
  background: #008080;
}
button:hover{
  color: #000000;
  background: #ffffff
}

.form-group, .form-control, label {
  margin: 10px 0 0 0;
}
