<div class= "container">
<div class="nav">
  <img class="logo" src="https://files.slack.com/files-pri/T050JETQS-F4LUW9L78/ccc_logo.jpg" alt="Community  Comms">
  <div class="navbar">
    <a href="#">Volunteers</a>
    <a href="#">Jobs</a>
  </div>
</div>

  <h1>Volunteers</h1>
<div class="subheader row">
  <div class="col-md-3">
    <label>Charity: Maori Basketball NZ</label>
  </div>
  <div class="col-md-3">
<label for="">Website Usabilty Testing</label>
</div>
  <div class="col-md-3">
  <label>Volunteers selected</label>
    <ul>
      <li>Imogen Randwick</li>
      <li>joan smith</li>
    </ul>
  </div>
  <div class="col-md-1">
    <div class="centrebutton">

    <button class="btn btn-primary" type="button" name="button">Assign Volunteer</button>
  </div>

  </div>
</div>
<div class="row">
  <div class="col-md-2">
  	<div class="form-group">
        <label for="exampleSelect1">Volunteer Location</label>
       	 <select class="form-control" id="exampleSelect1">
            <option>Auckland</option>
            <option>Christchurch</option>
            <option>Wellington</option>
         </select>
    </div>
  </div>
  <div class="col-md-7">
  	<div class="form-group">
        <label for="exampleSelect2">Volunteer Skills</label>
          <ul class="volunteerSkills">
            <li>Writing/editing
<li>Unselected
<li>Social media
<li>
Web strategy
<li>
Web usability
<li>
Web editing/writing
<li>
News media
<li>
Strategy
<li>
Coaching/mentoring/managing people
<li>
Planning
<li>
Campaigns
<li>
Social marketing
<li>
Event management
<li>
Internal communication
<li>
Graphic design
<li>
Visual storytelling
<li>
Branding
<li>
Fundraising
<li>
Sponsorship
<li>
Community development
<li>
Change communications
<li>
Measurement
<li>
Accountability/reporting
<li>
Issues management
<li>
Stakeholder engagament
          </ul>

    	</div>
    </div>
      <div class="col-md-1">
  		<div class="centerButton">
    		<button type="button" class="btn btn-primary">Filter List</button>
    	</div>
    </div>
</div>



	<div><table class="table table-striped">
	  <thead class="thead-default">
	    <tr>
	      <th>Volunteer Name</th>
	      <th>Volunteer Location</th>
	      <th>Volunteer Location</th>
	      <th>Volunteer Availabilty</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
        <td><div class="checkbox"><label><input type="checkbox">Imogen Randwick</label></div></td>
	      <th scope="row"><a href="#">[volunteer location]</a></th>
	      <td>[volunteer status]</td>
	      <td>[volunteer availabilty]</td>
	    </tr>
      <tr>
        <td><div class="checkbox"><label><input type="checkbox">Joan Smith</label></div></td>
        <th scope="row"><a href="#">[volunteer location]</a></th>
        <td>[volunteer status]</td>
        <td>[volunteer availabilty]</td>
      </tr>
      <tr>
        <td><div class="checkbox"><label><input type="checkbox">Jessica Yule</label></div></td>
        <th scope="row"><a href="#">[volunteer location]</a></th>
        <td>[volunteer status]</td>
        <td>[volunteer availabilty]</td>
      </tr>
	  </tbody>
	</table></div>
</div>
