<div class="container">

  <div class="row banner">

    <div class="nav-links">
      <img class="col-xs-3 logo" src="https://files.slack.com/files-pri/T050JETQS-F4LUW9L78/ccc_logo.jpg" alt="CommunityComms Logo"/>
      <h4 class="nav-link"><a href="#">Volunteers</a></h4>
      <h4 class="nav-link"><a href="#" class="active">Jobs</a></h4>
    </div>

  </div>
    <h1>Create Organisation</h1>

    <form>

        <div class="form-group has-danger">
            <label for="organsiation">Community organisation</label>
            <input aria-describedby="" class="form-control" id="" placeholder="Community organisation name" type="text" required>
        </div>

        <div class="form-group has-danger">
            <label for="description">Description</label> <input aria-describedby="" class="form-control" id="" placeholder="Organisation Description"
                type="text" required>
        </div>

        <div class="form-group has-danger">
            <label for="description">Location</label> <input aria-describedby="" class="form-control" id="" placeholder="Location"
                type="text" required>
        </div>

        <div class="form-group has-danger">
            <label for="Email">Email</label> <input aria-describedby="" class="form-control" id="" placeholder="Your email"
                type="email">
            <small class="form-text text-muted" id="emailHelp">We'll never share your email with anyone else.
            </small>
        </div>

        <div class="form-group has-danger">
            <label for="phone">Phone</label> <input aria-describedby="" class="form-control" id="" placeholder="027..." type="text"
                required>
        </div>

        <div class="form-group has-danger">
            <label for="coordinator">Key Contact</label> <input aria-describedby="" class="form-control" id="" placeholder="Key contact"
                type="text" required>
        </div>

        <div class="form-group has-danger">
            <label for="notes">Notes</label> <textarea aria-describedby="" class="form-control" rows="10" id="" placeholder="Notes"></textarea>
        </div>

    </form>

</div>

<button type="submit" class="btn btn-primary">Submit</button>
