a {
  color: #008080;
  text-decoration: underline;
}

a:hover {
  color: #F26629;
}

button {
  margin: 10px 0 10px 0;
  color: #ffffff;
  background: #008080;
}
button:hover {
  color: #000000;
  background: #ffffff;
  border-color: #008080;
}


.banner {
  border-bottom: 1px solid #777;
}

.active {
  color: #F26629 !important;
}

.logo {
  height: 100px;
}

.nav-links {
  display: flex;
  align-items: flex-end;
  height: auto;
}

.nav-links a {
  color: black;
  text-decoration: none;
}

.nav-link {
  padding: 0 50px;
}

.main-content {
  padding: 50px;
}

.page-title {
  padding: 30px 0;
  color: #008080;
}

.form-selectors label {
  padding-bottom: 5px;
}

.form-group {
  margin: 10px 0;
}

.centerButton:hover {
  background-color: #004646;
  color: #FFF;
}

.add-a-link {
  float: right;
  padding: 10px 0;
}

.add-a-link a {
  padding-left: 10px;
}

.add-a-link .glyphicon-plus-sign {
  margin-right: 5px;
}

.table {
  width: 100%;
}

.thead-default {
  background-color: #E6E6E6;
}

.table > tbody > tr > th {
  min-height: 40px;
  border-top: 0;
  font-weight: 400;
}
.table > tbody > tr > td {
  min-height: 40px;
  min-width: inherit;
  border-top: 0;
}

.table {
  border-bottom: 1px solid #777;
}
