<div class="container">
    <h1>Job List</h1>
<div class= "container">
<div>Placeholder navigation bar</div>

  <h1>Jobs</h1>

<div class="row">
  <div class="col-md-4">
  	<div class="form-group">
        <label for="exampleSelect1">Job Location</label>
       	 <select class="form-control" id="exampleSelect1">
            <option>Auckland</option>
            <option>Christchurch</option>
            <option>Wellington</option>
         </select>
    </div>
  </div>
  <div class="col-md-4 offset-md-4">
  	<div class="form-group">
        <label for="exampleSelect2">Job Status</label>
        	<select class="form-control" id="exampleSelect2">
           	  <option>Open</option>.offset-md-4
          	  <option>In Progress</option>
          	  <option>Closed</option>
        	</select>
    	</div>
    </div>
      <div class="col-md-4 offset-md-4">
  		<div class="centerButton">
    		<button type="button" class="btn btn-primary">Filter List</button>
    	</div>
    </div>
</div>



	<div><table class="table table-striped">
	  <thead class="thead-default">
	    <tr>
	      <th>Job Title</th>
	      <th>Charity</th>
	      <th>Job Location</th>
	      <th>Job Status</th>
	      <th>Open Date</th>
	      <th>Closed Date</th>
	      <th>Assign Volunteers</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <th scope="row"><a href="#">[job name]</a></th>
	      <td>[charity]</td>
	      <td>[job location]</td>
	      <td>[job status]</td>
	      <td>[open date]</td>
	      <td>[closed date]</td>
	      <td><a href="#">Assign volunteers to this job</a></td>
	    </tr>
	  </tbody>
	</table></div>

</div>
