h1, h3{
  color:#008080;
}
button{
  margin: 10px 0 10px 0;
  background: #008080;
}
button:hover{
  color: #000000;
  background: #ffffff
}
.banner {
  border-bottom: 1px solid #777;
}

.logo {
  width: 181px;
  height: 100px;
}

.active {
  color: #F26629 !important;
}

.nav-links {
  display: flex;
  align-items: flex-end;
  height: auto;
}

.nav-links a {
  color: black;
  text-decoration: none;
}

.nav-link {
  padding: 0 50px;
}
