<div class="container">

    <h1>Edit Job</h1>

    <form>

        <div class="form-group has-danger">
            <label for="organsiation">Community organisation</label>
            <input aria-describedby="" class="form-control" id=""
                placeholder="PREPOPULATED with Community organisation" type="text" required>
        </div>

        <div class="form-group has-danger col-3">
            <label for="title">Job name</label> <input aria-describedby="" class="form-control" id="" placeholder="PREPOPULATED with Job name"
                type="text" required>
        </div>

        <div class="form-group has-danger">
            <label for="description">Description</label> <input aria-describedby="" class="form-control" id="" placeholder="PREPOPULATED with Job Description"
                type="text" required>
        </div>

        <div class="form-group has-danger">
            <label for="Email">Email</label> <input aria-describedby="" class="form-control" id="" placeholder="PREPOPULATED with Your email"
            type="email">
            <small class="form-text text-muted" id="emailHelp">We'll never share your email with anyone else.
            </small>
        </div>

        <div class="form-group has-danger">
            <label for="phone">Phone</label> <input aria-describedby="" class="form-control" id=""
                placeholder="027..." type="text" required>
        </div>

        <div class="form-group has-danger">
            <label for="coordinator">Co-ordinator</label> <input aria-describedby="" class="form-control" id="" placeholder="Co-ordinator name"
                type="text" required>
        </div>

        <div class="form-group has-danger">
            <label for="">Estimates (hours)</label> <input aria-describedby="" class="form-control" id="" placeholder="0"
                type="number" required>
        </div>

        <div class="form-group has-danger">
            <label for="startdate">Start date</label> <input aria-describedby="" class="form-control" id="" placeholder="Start date"
                type="datetime-local" required>
        </div>

        <div class="form-group has-danger">
            <label for="enddate">End date</label> <input aria-describedby="" class="form-control" id="" placeholder="Job Description"
                type="datetime-local" required>
        </div>

        <div class="form-group has-danger">
            <label for="notes">Notes</label> <textarea aria-describedby="" class="form-control" rows="10" id="" placeholder="Notes"></textarea>
        </div>

    </form>

    <div class="col-md-6">

    <h2>Volunteers Assigned</h2>
    <table class="table table-striped">
  	  <thead class="thead-default">
  	    <tr>
  	      <th>Volunteer Name</th>
  	      <th>Start Date</th>
  	      <th>End Date</th>
  	    </tr>
  	  </thead>
  	  <tbody>
  	    <tr>
          <td><div class="checkbox"><label><input type="checkbox">Imogen Randwick</label></div></td>
  	      <th scope="row"><a href="#">[Start Date]</a></th>
  	      <td>[End Date]</td>
  	    </tr>
        <tr>
          <td><div class="checkbox"><label><input type="checkbox">Joan Smith</label></div></td>
          <th scope="row"><a href="#">[Start Date]</a></th>
          <td>[End Date]</td>
        </tr>
        <tr>
          <td><div class="checkbox"><label><input type="checkbox">Jessica Yule</label></div></td>
          <th scope="row"><a href="#">[Start Date]</a></th>
          <td>[End Date]</td>
        </tr>
  	  </tbody>
  	</table>
  </div>
  <div class="col-md-6">

    <h2>Feedback</h2>
    <div class="form-group">
        <label for="notes">Feedback</label> <textarea aria-describedby="" class="form-control" rows="10" id="" placeholder="Feedback..."></textarea>
    </div>
  </div>
<div class="pull-right">

<a href="#">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>
</div>
</div>
