th {
    background-color: #E6E6E6;
    color: #333333;
} 
.table {
   vertical-align: bottom;
   border-bottom: 2px solid hsl(0, 0%, 87%);
   margin-bottom: 50px;
   margin-top: 20px;
}

button {
  margin: 10px 0 10px 0;
  color: #ffffff;
  background: #008080;
}
button:hover{
  color: #000000;
  background: #ffffff;
  border-color: #008080;
}

hr { 
	width: 100%; 
	border-color: #999999; 
	height: 1px; 
	margin-top: 2px;
	margin-bottom: 2px;
}

.pull-right a {
	margin-right: 25px;
}